@font-face {
  font-family: 'opensanslight';
  src:url('../fonts/opensanslight.woff2') format('woff2'),
  url('../fonts/opensanslight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'opensansregular';
  src:url('../fonts/opensans.woff2') format('woff2'),
  url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'gilroyextrabold';
  src: url('../fonts/gilroyextrabold.woff2') format('woff2'),
  url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family:'girlgilroylight';
  src: url('../fonts/gilroylight.woff2') format('woff2'),
  url('../fonts/gilroylight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  …
}

a {
  text-decoration: none;
  color: black;
}

input{
  font-family: 'opensansregular';
  font-size: 14px;
  line-height: 18px;
}

.user_menu, .main_menu, .nav_menu, .list_item, .cards_list, .services, .parter__logo, .delivery, .foot_menu, .social_button{
  list-style: none;
}
.button{
  font-size: 15px;
  font-family: 'opensanslight';
  line-height: 30px;
 }

.button:hover, .button:focus,
.button_main:hover, .button_main:focus,
.nav_menu:hover, .nav_menu:focus {
color: rgba(0, 0, 0, 0.6);
}

.button:active, .button_main:active, .nav_menu:active{
color: rgba(0, 0, 0, 0.3);
}

.nav_butt{
  text-transform: uppercase;
}
.page_title{
font-family: 'gilroyextrabold';
font-size: 47px;
line-height: 56px;

}

.button_main{
  font-size: 18px;
  font-family: 'gilroyextrabold';
  line-height: 30px;

}

.button_site{
font-size: 18px;
font-family: 'gilroyextrabold';
line-height: 30px;
display: inline-block;
width: 220px;
height: 58px;
text-align: center;
position: relative;
text-transform: uppercase;
 letter-spacing: 3.6px;
 margin-left: 140px;

}
.button_site::before{
  content: url("../img/yellow_line_min.png") ;
  display: block;
  width: 100%;
  position:relative;
  top: 48%;
   z-index: -1;
 }

 .button_site:hover::before, .button_site:focus::before{
   content: url("../img/yellow_line_max.png") ;
   display: inline-block;
    color: black;
   width: 100%;
   top: 75%;
   bottom: 50%;
   z-index: -1;
   text-align: center;
 }

 .button_site:active{
color: rgba(0, 0, 0, 0.3);
 }

 }

 .button_footer{
 display: inline-block;
 width: 260px;
 height: 58px;
 text-align: center;
 position: relative;
 text-transform: uppercase;
  letter-spacing: 3.6px;
  margin-left: 140px;

 /*background-color: #f0c52e;*/
 }
 .button_footer::after{
   content: " ";
   display: block;
      position: absolute;
      top: 5%;
      bottom:  15%;
      border-bottom: 8px solid #f0c52e;
      width: 260px;
      height: 8px;
      background-position: center;
 z-index: -1;
  }


.button_search , .breadcrumps_list{
color: rgba(0, 0, 0, 0.3);
}

.button_search:hover,
.button_search:focus{
color: rgba(0, 0, 0, 0.6);
}

.description{
font-family: 'opensanslight';
font-size: 15px;
line-height: 30px;
}


.table_content{
font-family: 'girlgilroylight';
font-size: 36px;
line-height: 48px;
}

.items_table{
margin-left: 140px;
}

.property{
font-family: 'opensanslight';
font-size: 13px;
line-height: 20px;
color: #464646;
}

.items , h3 {
font-family: 'gilroyextrabold';
font-size: 18px;
line-height: 24px;
letter-spacing: 0.18px;
}

.info{
  font-size: 47px;
  font-family: 'gilroyextrabold';
  line-height: 48px;
}
.button_services{
  background-color: transparent;
  border:none;

display: inline-block;
width: 160px;
height: 8px;
text-align: center;
position: relative;
text-transform: uppercase;
 letter-spacing: 3.6px;



}

.button_services::after{
  content: " ";
  display: block;
     position: absolute;
     top: 50%;
    bottom: 5%;
     border-bottom: 8px solid #f0c52e;
     width: 160px;
     height: 8px;
     background-position: center;
z-index: -1;
 }

 .button_services:hover,
 .button_services:focus{
   color: black;
 background-color: #f0c52e;
 width: 170px;
 height: 40px;
  outline: none;
 }

.button_services:active{
  color: #f0c52e;
background-color: #000;
width: 278px;
text-align: left;
padding-left: 20px;
}

.delivery{
font-family: 'gilroyextrabold';
font-size: 16px;
line-height: 2.5;
font-weight: 800;
}

.partner_logo_item:hover, .partner_logo_item:focus{
opacity: 1 ;
}
.partner_logo_item{
opacity: 0.2;
}

.slider_services{
border-right: 7px solid black;
width: 278px;
height: 319px;
padding-right:  40px;


}

.button_foot, .nav_menu{
  font-size: 15px;
  font-family: 'opensanslight';
  line-height: 36px;
 }


.breadcrumps{
  font-size: 14px;
  font-family: 'opensanslight';
  line-height: 24px;

}

.breadcrumps-current{
  font-size: 14px;
  font-family: 'opensanslight';
  line-height: 24px;
}

.main-filt{
text-transform: uppercase;
font-family: 'gilroyextrabold';
font-size: 16px;
line-height: 24px;
letter-spacing: 3.2px;
background-color: #d9d9d9;
margin-bottom: 0;

}

fieldset{
  font-size: 14px;
  font-family: 'opensanslight';
  line-height: 40px;
 letter-spacing: 0.14px;

}

.price-option ,  .color-option , .bluetooth-option{
  font-size: 14px;
  font-family: 'opensanslight';
  line-height: 40px;
 letter-spacing: 0.14px;
}

.price{
  font-family: 'girlgilroylight';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.16px;
}

.navigation{
background-color:  #f7e296;
margin: 40px 140px 0px 140px;
}

.logo_device{
margin-left: 199px;
margin-top: 21px;.
}

.cards{
background-color:  #f7e296;
padding: 30px;
}

.cards:hover, .cards:focus{background-color: #f0c52e;}
.cards::before:active{object}


.services1{
background-color: #e5e5e5;
}


.footer{
background-color: #464646;
}

.icon_dev{
  width: 100px;
   height: 100px;
   fill: red;
}

.foot_text{
  color: white;
  font-family: 'gilroyextrabold';
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  line-height: 1.33;
}

.foot_menu {
color: rgba(255, 255, 255, 0.7);
font-size: 15px;
font-family: 'opensanslight';
line-height: 36px;
}

.foot_contact{
  color: white;
}

.foot_log{
margin-left: 140px;
}

.input_form{
  background-color: #f2f2f2;

}

.filt_part{
background-color: #ebebeb;
margin-top: 0;
}

.foot_menu_exit{
color: rgba(255, 255, 255, 0.3);
}
